.wc-block-grid__products {
    justify-content: space-around;
    gap: 12px;
    list-style-type: none;
    text-align: left;
}

.woocommerce-LoopProduct-link {
    img {
        width: 292px;
        margin: 8px auto;
        display: block;
    }
}

.wp-block-post-featured-image {
    position: relative;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.34);
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
}

span.woocommerce-loop-product__title {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 770px) {
    .woocommerce-LoopProduct-link {
        img {
            width: calc(100% - 16px);
            max-height: 200px;
            object-fit: cover;
        }
    }

    .wc-block-grid__products {
        li {
            width: calc(50% - 6px);
        }
    }

    .card_container {
        width: calc(50%);

        .cta_container {
            flex-direction: column;
            align-items: start !important;

            .add-to-cart-container {
                justify-content: flex-start !important;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .wc-block-grid__products {
        display: flex !important;
    }
}