.home {
    .home-thumbnail {
        position: relative;
        margin-bottom: 3rem;

        .home-baseline {
            position: absolute;
            top: 50%;
            left: 16%;
            transform: translateY(-50%);

            h1 {
                font-size: 64px;
                line-height: 72px;
                max-width: 600px
            }

            a {
                font-size: 26px;
                padding: 8px 24px;
            }
        }

        img {
            width: 100%;
            height: auto;
            min-height: 400px;
            object-fit: cover;
        }
    }

    h2 {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 48px;
        line-height: 56px;
        color: $primary;
    }

    .wp-block-columns {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 72px;
        margin-bottom: 72px;

        h4 {
            margin-bottom: 24px;
            img {
                margin-right: 16px;
            }
        }
    }

    .bg-primary {
        color: white;
    }

    figure.wp-block-gallery {
        display: flex;
        justify-content: space-between;

        figure {
            flex-grow: unset !important;
            width: 270px !important;

            img {
                width: auto !important;
                object-fit: none !important;
            }
        }
    }

    .wp-block-media-text__content {
        p {
            max-width: 60%;
        }
    }

    .wp-block-woocommerce-product-categories {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            padding: 0;
            list-style-type: none;

            li {
                padding: 8px 24px;
                border: 2px solid $special;
                border-radius: 4px;

                ul.wc-block-product-categories-list--depth-1 {
                    display: none;
                }
            }
        }
    }

    .wp-block-column {
        margin: auto;
    }

    .home-articles {

        .wp-block-latest-posts__list {
            li {
                padding: 21px 0;
                border-top: 1px solid black;

                a {
                    display: flex;
                    font-size: 18px;
                    font-weight: 500;

                    &::after {
                        font-weight: 900;
                        content: "\27F6";
                        transform: translateY(-3px);
                        margin-left: 8px;
                    }
                }

                time {
                    text-decoration: underline;
                }

                &:last-child {
                    border-bottom: 1px solid black;
                }
            }
        }

        .wp-block-post {
            position: relative;

            figure img {
                border-radius: 4px;
            }

            .wp-block-group {
                position: absolute;
                top: 0;
                left: 0;
                padding: 28px 30px 28px 12px;
                height: 100%;

                .wp-block-group__inner-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    .wp-block-post-title {
                        color: white;
                        font-size: 18px;
                        padding: 0;
                        line-height: 48px;
                        margin: 0;
                    }

                    .wp-block-read-more {
                        color: $secondary;
                        margin: 0 auto auto 0;
                        padding: 4px 0;

                        &::after {
                            font-weight: 900;
                            content: "\27F6";
                            transform: translateY(-4px);
                            margin-left: 8px;
                        }
                    }

                    time {
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.btn-arrow {
    .wp-block-button__link {
        background-color: transparent;
        padding: 0;
        border: none;

        &:hover, &:focus, &:active {
            background-color: transparent !important;
        }
    }

    &::after {
        font-weight: 900;
        content: "\27F6";
        transform: translateY(-3px);
        margin-left: 8px;
    }
}

@media screen and (max-width: 960px) {
    .home {
        .home-thumbnail {
            .home-baseline {
                left: 8%;
            }
        }
    }
}


@media screen and (max-width: 770px) {
    .home {
        .home-thumbnail {
            .home-baseline {
                h1 {
                    font-size: 56px;
                    line-height: 56px;
                }
            }
        }

        figure.wp-block-gallery {
            gap: 12px;

            figure.wp-block-image {
                margin: 24px auto !important;
                width: calc(50% - 6px) !important;

                img {
                    width: 100% !important;
                    height: auto !important;
                    object-fit: contain !important;
                }
            }
        }

    }
}


@media screen and (max-width: 575px) {
    .home {
        margin-left: initial;

        .home-thumbnail {
            margin-top: -2rem;
            margin-bottom: 1rem;
            height: auto;
            overflow: hidden;

            .home-baseline {
                left: 4%;

                h1 {
                    font-size: 24px;
                    line-height: 24px;
                }

                a {
                    font-size: 18px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                min-height: 300px;
            }
        }

        h2 {
            padding: 24px 0;
            font-size: 24px;
            line-height: 24px;

            &.container {
                padding: 24px 0 24px 24px;
            }
        }

        .wp-block-woocommerce-product-categories {
            ul {
                gap: 10px;
            }
        }

    }
}
